/*
*
* --- file style.scss
*   import all files
*
*
*/
/*framework Bourbon
-----------------------------------------------------*/
/* mixin project
-----------------------------------------------------*/
/*
*
* --- file _mixin.scss
*   project mixin
*
*
*/
/* setting project
-----------------------------------------------------*/
/*
*
* --- file _settings.scss
*   project settings
*
*
*/
/* Markup project
-----------------------------------------------------*/
/*
*
* --- file _grid.scss
*   markup page
*
*
*/
header {
  width: 100%;
  height: 120px; }

.education {
  width: 100%;
  height: 252px; }

.teacher {
  width: 100%;
  height: 177px; }

.welcome {
  width: 100%;
  height: 180px; }

.register {
  width: 100%;
  height: 150px; }

.news {
  width: 100%;
  height: 259px; }

.activities {
  width: 100%;
  height: 410px; }

footer {
  width: 100%;
  height: 108px; }

/* style page
-----------------------------------------------------*/
/*
*
* --- file _main.scss
*   styling page
*
*
*/
.content {
  width: 940px;
  height: auto;
  position: relative;
  margin: 0 auto; }

.line_end {
  margin: 0 auto;
  width: 940px;
  border: 1px solid #e2f3f7;
  margin-bottom: 0px;
  margin-top: 0px; }

.button {
  border-radius: 3px; }
  .button a {
    text-decoration: none; }

header {
  background-position: center;
  position: relative;
  background-image: url(../img/background_blue.png); }
  header .content #logo {
    position: absolute;
    top: 45px; }
  header .content nav {
    float: right;
    margin-top: 42px;
    width: 619px;
    height: 50px; }
    header .content nav ul li {
      float: left;
      margin-left: 18px;
      list-style-type: none; }
      header .content nav ul li a {
        color: #fff;
        font-size: 16px;
        font-family: Nilland-Black;
        text-decoration: none; }

.education {
  background-position: center;
  background-image: url(../img/background_blue.png);
  position: relative; }
  .education .slider_left_education {
    float: left;
    margin-left: 161px;
    margin-top: 113px;
    width: 25px;
    height: 25px; }
  .education .slider_right_education {
    width: 25px;
    height: 25px;
    margin-right: 163px;
    margin-top: 115px;
    float: right; }
    .education .slider_right_education img {
      float: right; }
  .education .content .text_education {
    float: left;
    margin-top: 24px; }
    .education .content .text_education h3 {
      word-spacing: -1px;
      letter-spacing: 0px;
      color: #fff;
      margin-top: 0px;
      margin-bottom: 8px;
      font-size: 30px;
      font-family: Nilland-ExtraBold; }
    .education .content .text_education p {
      word-spacing: -1px;
      letter-spacing: 0px;
      width: 552px;
      color: #fff;
      margin-top: 0px;
      margin-bottom: 20px;
      font-size: 14px;
      font-family: Nilland-ExtraBold; }
    .education .content .text_education .explore {
      background-color: #cee1e6;
      width: 160px;
      height: 45px; }
      .education .content .text_education .explore a p {
        word-spacing: -1px;
        letter-spacing: 0px;
        padding-top: 9px;
        margin-left: 23px;
        margin-bottom: 0px;
        font-family: Nilland-Black;
        font-size: 16px;
        color: #3d6070; }
  .education #people {
    margin-top: 10px;
    float: right;
    margin-right: 35px; }

.teacher {
  background-position: center;
  background-image: url(../img/background_white.png);
  position: relative; }
  .teacher .content .features {
    padding-top: 30px;
    width: 290px;
    height: 115px;
    float: left;
    margin-right: 35px;
    margin-bottom: 3px; }
    .teacher .content .features img {
      float: left; }
    .teacher .content .features .text_features {
      float: right;
      width: 188px; }
      .teacher .content .features .text_features h3, .teacher .content .features .text_features h4, .teacher .content .features .text_features p {
        word-spacing: -1px;
        letter-spacing: 0px; }
      .teacher .content .features .text_features h3 {
        letter-spacing: -1px;
        margin-top: 0px;
        margin-bottom: 3px;
        font-size: 24px;
        font-family: Nilland-Black; }
      .teacher .content .features .text_features h4 {
        margin-top: 0px;
        margin-bottom: 4px;
        font-size: 14px;
        font-family: Nilland-Black; }
      .teacher .content .features .text_features p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12px; }
  .teacher .content .last_features {
    margin-right: 0px; }

.activities {
  background-position: center;
  background-image: url(../img/background_white.png);
  position: relative; }
  .activities .content .title_activities {
    font-size: 21px;
    font-family: Nilland-ExtraBold;
    margin-top: 0px;
    margin-bottom: 14px;
    padding-top: 22px; }
  .activities .content .block_slider {
    background-color: #f0f0f0;
    width: 940px;
    height: 340px; }
    .activities .content .block_slider .text_drawing {
      float: left;
      width: 320px;
      height: 275px;
      padding-top: 40px;
      margin-left: 50px; }
      .activities .content .block_slider .text_drawing h3 {
        font-family: Nilland-ExtraBold;
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 30px; }
      .activities .content .block_slider .text_drawing p {
        color: #aaaaaa;
        font-family: Nilland-ExtraBold;
        margin-top: 0px;
        margin-bottom: 17px;
        font-size: 14px; }
      .activities .content .block_slider .text_drawing .submit {
        width: 290px;
        height: 55px;
        background-color: #cadfe4; }
        .activities .content .block_slider .text_drawing .submit a h3 {
          color: black;
          font-family: Nilland-Black;
          font-size: 16px;
          padding-top: 5px;
          margin-bottom: 5px;
          margin-left: 30px; }
        .activities .content .block_slider .text_drawing .submit a p {
          color: black;
          margin-left: 30px;
          font-family: Nilland-Black;
          font-size: 12px;
          margin-top: 0px; }

.slider_activities {
  width: 550px;
  height: 340px;
  float: right;
  position: relative; }
  .slider_activities .slider_left_drawing {
    float: left;
    margin-left: 35px;
    margin-top: 158px;
    width: 25px;
    height: 25px; }
  .slider_activities .slider_right_drawing {
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 16px;
    margin-top: 158px; }
  .slider_activities p {
    color: #aaaaaa;
    font-size: 12px;
    font-family: Nilland-ExtraBold;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 12px;
    margin-left: 5px; }
  .slider_activities .slider_drawing {
    width: 400px;
    height: 245px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    top: 40px;
    left: 75px; }
    .slider_activities .slider_drawing #drawing {
      margin-left: 30px;
      margin-top: 10px; }

.welcome {
  background-image: url(../img/background_white.png);
  position: relative;
  background-position: center; }
  .welcome .content h3, .welcome .content p {
    word-spacing: -1px;
    letter-spacing: 0px; }
  .welcome .content h3 {
    margin-top: 0px;
    font-family: Nilland-ExtraBold;
    font-size: 21px;
    margin-bottom: 8px; }
  .welcome .content p {
    margin-top: 0px;
    font-size: 14px;
    font-family: Nilland-ExtraBold;
    margin-bottom: 14px; }
    .welcome .content p mark {
      background: #fff1a5; }
  .welcome .content .article {
    width: 175px;
    height: 25px;
    background-color: #b2c6cf;
    margin-bottom: 20px; }
    .welcome .content .article a p {
      color: #fff;
      letter-spacing: 0px;
      margin-bottom: 0px;
      margin-left: 4px;
      margin-top: 3px;
      font-size: 16px;
      font-family: Nilland-ExtraBold; }

.register {
  background-image: url(../img/background_white.png);
  position: relative;
  background-position: center; }
  .register .content .register_field {
    width: 940px;
    height: 100px;
    background-color: #f4f4f4;
    margin-bottom: 35px; }
    .register .content .register_field h3, .register .content .register_field p {
      word-spacing: -1px;
      letter-spacing: 0px; }
    .register .content .register_field h3 {
      color: #666666;
      margin-left: 26px;
      margin-top: 0px;
      padding-top: 25px;
      font-family: Nilland-ExtraBold;
      font-size: 21px;
      margin-bottom: 0px; }
    .register .content .register_field p {
      color: #666666;
      margin-bottom: 0px;
      margin-top: 0px;
      margin-left: 26px;
      font-family: Nilland-ExtraBold;
      font-size: 12px; }
    .register .content .register_field .online {
      width: 220px;
      height: 45px;
      background-color: #cce0e5;
      position: absolute;
      left: 690px;
      top: 25px; }
      .register .content .register_field .online a p {
        color: #3d6070;
        margin-bottom: 0px;
        padding-top: 11px;
        margin-top: 0px;
        margin-left: 26px;
        font-size: 16px;
        font-family: Nilland-Black; }

.news {
  background-image: url(../img/background_white.png);
  position: relative;
  background-position: center; }
  .news .content .school_events {
    width: 480px;
    height: 210px;
    float: left; }
    .news .content .school_events h3, .news .content .school_events p {
      word-spacing: -1px;
      letter-spacing: 0px; }
    .news .content .school_events h3 {
      font-size: 21px;
      font-family: Nilland-ExtraBold;
      margin-bottom: 10px;
      margin-top: 10px; }
    .news .content .school_events .event {
      width: 480px;
      height: 50px;
      margin-bottom: 15px; }
      .news .content .school_events .event img {
        float: left;
        margin-right: 10px;
        margin-top: 3px; }
      .news .content .school_events .event p {
        font-size: 12px;
        font-family: Nilland-ExtraBold;
        margin-top: 0px;
        margin-bottom: 0px; }
      .news .content .school_events .event a {
        text-decoration: none;
        color: #87a6b4;
        font-size: 12px;
        font-family: Nilland-ExtraBold; }
  .news .content .honor_list {
    width: 400px;
    height: 210px;
    float: right; }
    .news .content .honor_list h3 {
      font-size: 21px;
      font-family: Nilland-ExtraBold;
      margin-bottom: 17px;
      margin-top: 9px;
      margin-left: 9px; }
    .news .content .honor_list .left_position {
      float: left; }
    .news .content .honor_list .right_position {
      float: right;
      margin-right: 5px; }
    .news .content .honor_list .honor {
      width: 160px;
      height: 40px;
      margin-bottom: 10px;
      margin-left: 10px; }
      .news .content .honor_list .honor img {
        float: left;
        margin-right: 15px; }
      .news .content .honor_list .honor h3 {
        margin-top: 0px;
        margin-bottom: 2px;
        color: #666666;
        font-size: 14px;
        font-family: Nilland-Black; }
      .news .content .honor_list .honor p {
        margin-top: 0px;
        margin-bottom: 0px;
        color: #949494;
        font-size: 12px;
        font-family: Nilland-Black; }
      .news .content .honor_list .honor a {
        text-decoration: none;
        font-family: Nilland-ExtraBold;
        font-size: 12px;
        color: #7fa0af; }

footer {
  background-image: url(../img/background_white.png);
  position: relative;
  background-position: center; }
  footer .content p {
    position: absolute;
    margin-bottom: 0px;
    padding-top: 23px;
    width: 435px;
    font-size: 12px;
    font-family: Nilland-ExtraBold; }
  footer .content .container {
    float: right;
    margin-top: 39px; }
    footer .content .container .social {
      width: 30px;
      height: 30px;
      border-radius: 3px;
      float: left;
      margin-left: 10px; }
    footer .content .container .rss {
      background-color: #fed46a; }
      footer .content .container .rss img {
        margin-left: 7px;
        margin-top: 4px; }
    footer .content .container .twitter {
      background-color: #4ad7ff; }
      footer .content .container .twitter img {
        margin-left: 4px;
        margin-top: 3px; }
    footer .content .container .facebook {
      background-color: #6e8cc4; }
      footer .content .container .facebook img {
        margin-left: 11px;
        margin-top: 3px; }
    footer .content .container .dribble {
      background-color: #f994b7; }
      footer .content .container .dribble img {
        margin-left: 6px;
        margin-top: 4px; }
    footer .content .container .vimeo {
      background-color: #24a6d6; }
      footer .content .container .vimeo img {
        margin-left: 6px;
        margin-top: 4px; }
    footer .content .container .tetragon {
      background-color: #a2bee5; }
      footer .content .container .tetragon img {
        margin-left: 7px;
        margin-top: 5px; }

.blue_line {
  background-image: url(../img/background_blue.png);
  width: 100%;
  height: 20px; }
