/*
*
* --- file _grid.scss
*   markup page
*
*
*/

header {
	@include size($main_block_width 120px);
}
.education{
	@include size($main_block_width 252px);
}
.teacher{
	@include size($main_block_width 177px);
}
.welcome{
	@include size($main_block_width 180px);
}
.register{
	@include size($main_block_width 150px);
}
.news{
	@include size($main_block_width 259px);
}
.activities{
	@include size($main_block_width 410px);
}
footer{
	@include size($main_block_width 108px);
}