/*
*
* --- file _main.scss
*   styling page
*
*
*/

//basic blocks and elements
.content {
	@include size(940px auto);
	position: relative;
	margin: 0 auto;
}
.line_end {
	margin: 0 auto;
	width: 940px;
	border: 1px solid #e2f3f7;
	margin-bottom: 0px;
	margin-top: 0px;
}
.button {
	border-radius: 3px;
	a {
		text-decoration: none;
	}
}
//header
header {
	background-position: center;
	position: relative;
	@include background_blue_mixin;
	.content {
		#logo {
			position: absolute;
			top: 45px;
		}
		nav {
			float: right;
			margin-top: 42px;
			@include size(619px 50px);
			ul {
				li {
					float: left;
					margin-left: 18px;
					list-style-type: none;
					a {
						color: #fff;
						font-size: $size-text*(16/14);
						font-family: $nilland_black;
						text-decoration: none;
					}
				}
			}
		}
	}
}
//education
.education {
	background-position: center;
	@include background_blue_mixin;
	position: relative;
	.slider_left_education {
		float: left;
      cursor: pointer;
		margin-left: 161px;
		margin-top: 113px;
		@include size(25px 25px);
	}
	.slider_right_education {
		@include size(25px 25px);
		margin-right: 163px;
      cursor: pointer;
		margin-top: 115px;
		float: right;
		img {
			float: right;
		}
	}
	.content {
		.text_education {
			float: left;
			margin-top: 24px;
			h3 {
				@include custom_text_settings;
				color: #fff;
				margin-top: 0px;
				margin-bottom: 8px;
				font-size: 30px;
				font-family: $nilland_extra_bold;
			}
			p {
				@include custom_text_settings;
				width: 552px;
				color: #fff;
				margin-top: 0px;
				margin-bottom: 20px;
				font-size: 14px;
				font-family: $nilland_extra_bold;
			}
			.explore {
				background-color: #cee1e6;
				@include size(160px 45px);
				a {
					p {
						@include custom_text_settings;
						padding-top: 9px;
						margin-left: 23px;
						margin-bottom: 0px;
						font-family: $nilland_black;
						font-size: 16px;
						color: #3d6070;
					}
				}
			}
		}
	}
	#people {
		margin-top: 10px;
		float: right;
		margin-right: 35px;
	}
  @media   {
    
  }
}
//teacher
.teacher {
	background-position: center;
	@include background_white_mixin;
	position: relative;
	.content {
		.features {
			padding-top: 30px;
			width: 290px;
			height: 115px;
			float: left;
			margin-right: 35px;
			margin-bottom: 3px;
			img {
				float: left;
			}
			.text_features {
				float: right;
				width: 188px;
				h3, h4, p {
					@include custom_text_settings;
				}
				h3 {
					letter-spacing: -1px;
					margin-top: 0px;
					margin-bottom: 3px;
					font-size: 24px;
					font-family: $nilland_black;
				}
				h4 {
					margin-top: 0px;
					margin-bottom: 4px;
					font-size: 14px;
					font-family: $nilland_black;
				}
				p {
					margin-top: 0px;
					margin-bottom: 0px;
					font-size: 12px;
				}
			}
		}
		.last_features {
			margin-right: 0px;
		}
	}
}
//activities
.activities {
	background-position: center;
	@include background_white_mixin;
	position: relative;
	.content {
		.title_activities {
			font-size: 21px;
			font-family: $nilland_extra_bold;
			margin-top: 0px;
			margin-bottom: 14px;
			padding-top: 22px;
		}
		.block_slider {
			background-color: #f0f0f0;
			@include size(940px 340px);
			.text_drawing {
				float: left;
				@include size(320px 275px);
				padding-top: 40px;
				margin-left: 50px;
				h3 {
					font-family: $nilland_extra_bold;
					margin-top: 0px;
					margin-bottom: 5px;
					font-size: 30px;
				}
				p {
					color: #aaaaaa;
					font-family: $nilland_extra_bold;
					margin-top: 0px;
					margin-bottom: 17px;
					font-size: 14px;
				}
				.submit {
					@include size(290px 55px);
					background-color: #cadfe4;
					a {
						h3 {
							color: black;
							font-family: $nilland_black;
							font-size: 16px;
							padding-top: 5px;
							margin-bottom: 5px;
							margin-left: 30px;
						}
						p {
							color: black;
							margin-left: 30px;
							font-family: $nilland_black;
							font-size: 12px;
							margin-top: 0px;
						}
					}
				}
			}
		}
	}
}

//welcome
 .welcome {
	@include background_white_mixin;
	position: relative;
	background-position: center;
	.content {
		h3, p {
			@include custom_text_settings;
		}
		h3 {
			margin-top: 0px;
			font-family: $nilland_extra_bold;
			font-size: 21px;
			margin-bottom: 8px;
		}
		p {
			margin-top: 0px;
			font-size: 14px;
			font-family: $nilland_extra_bold;
			margin-bottom: 14px;
			mark {
				background: #fff1a5;
			}
		}
		.article {
			@include size(175px 25px);
			background-color: #b2c6cf;
			margin-bottom: 20px;
			a {
				p {
					color: #fff;
					letter-spacing: 0px;
					margin-bottom: 0px;
					margin-left: 4px;
					margin-top: 3px;
					font-size: 16px;
					font-family: $nilland_extra_bold;
				}
			}
		}
	}
}
//register
 .register {
	@include background_white_mixin;
	position: relative;
	background-position: center;
	.content {
		.register_field {
			@include size(940px 100px);
			background-color: #f4f4f4;
			margin-bottom: 35px;
			h3, p {
				@include custom_text_settings;
			}
			h3 {
				color: #666666;
				margin-left: 26px;
				margin-top: 0px;
				padding-top: 25px;
				font-family: $nilland_extra_bold;
				font-size: 21px;
				margin-bottom: 0px;
			}
			p {
				color: #666666;
				margin-bottom: 0px;
				margin-top: 0px;
				margin-left: 26px;
				font-family: $nilland_extra_bold;
				font-size: 12px;
			}
			.online {
				@include size(220px 45px);
				background-color: #cce0e5;
				position: absolute;
				left: 690px;
				top: 25px;
				a {
					p {
						color: #3d6070;
						margin-bottom: 0px;
						padding-top: 11px;
						margin-top: 0px;
						margin-left: 26px;
						font-size: 16px;
						font-family: $nilland_black;
					}
				}
			}
		}
	}
}
//news
.news {
	@include background_white_mixin;
	position: relative;
	background-position: center;
	.content {
		.school_events {
			@include size(480px 210px);
			float: left;
			h3, p {
				@include custom_text_settings;
			}
			h3 {
				font-size: 21px;
				font-family: $nilland_extra_bold;
				margin-bottom: 10px;
				margin-top: 10px;
			}
			.event {
				@include size(480px 50px);
				margin-bottom: 15px;
				img {
					float: left;
					margin-right: 10px;
					margin-top: 3px;
				}
				p {
					font-size: 12px;
					font-family: $nilland_extra_bold;
					margin-top: 0px;
					margin-bottom: 0px;
				}
				a {
					text-decoration: none;
					color: #87a6b4;
					font-size: 12px;
					font-family: $nilland_extra_bold;
				}
			}
		}
		.honor_list {
			@include size(400px 210px);
			float: right;
			h3 {
				font-size: 21px;
				font-family: $nilland_extra_bold;
				margin-bottom: 17px;
				margin-top: 9px;
				margin-left: 9px;
			}
			.left_position {
				float: left;
			}
			.right_position {
				float: right;
				margin-right: 5px;
			}
			.honor {
				@include size(160px 40px);
				margin-bottom: 10px;
				margin-left: 10px;
				img {
					float: left;
					margin-right: 15px;
				}
				h3 {
					margin-top: 0px;
					margin-bottom: 2px;
					color: #666666;
					font-size: 14px;
					font-family: $nilland_black;
				}
				p {
					margin-top: 0px;
					margin-bottom: 0px;
					color: #949494;
					font-size: 12px;
					font-family: $nilland_black;
				}
				a {
					text-decoration: none;
					font-family: $nilland_extra_bold;
					font-size: 12px;
					color: #7fa0af;
				}
			}
		}
	}
}
//footer
 footer {
	@include background_white_mixin;
	position: relative;
	background-position: center;
	.content {
		p {
			position: absolute;
			margin-bottom: 0px;
			padding-top: 23px;
			width: 435px;
			font-size: 12px;
			font-family: $nilland_extra_bold;
		}
		.container {
			float: right;
			margin-top: 39px;
			.social {
				@include size(30px 30px);
				border-radius: 3px;
				float: left;
				margin-left: 10px
			}
			.rss {
				background-color: #fed46a;
				img {
					margin-left: 7px;
					margin-top: 4px;
				}
			}
			.twitter {
				background-color: #4ad7ff;
				img {
					margin-left: 4px;
					margin-top: 3px;
				}
			}
			.facebook {
				background-color: #6e8cc4;
				img {
					margin-left: 11px;
					margin-top: 3px;
				}
			}
			.dribble {
				background-color: #f994b7;
				img {
					margin-left: 6px;
					margin-top: 4px;
				}
			}
			.vimeo {
				background-color: #24a6d6;
				img {
					margin-left: 6px;
					margin-top: 4px;
				}
			}
			.tetragon {
				background-color: #a2bee5;
				img {
					margin-left: 7px;
					margin-top: 5px;
				}
			}
		}
	}
}
.blue_line {
	@include background_blue_mixin;
	@include size (100% 20px);
}