/*
*
* --- file _mixin.scss
*   project mixin
*
*
*/

@mixin background_blue_mixin {
	background-image: $background_blue_setting;
}
@mixin background_white_mixin {
	background-image: $background_white_setting;
}
@mixin custom_text_settings {
	word-spacing: -1px;
	letter-spacing: 0px;
}