@mixin big-pc {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin middle-pc {
  @media screen and (max-width: 1366px) {
    @content;
  }
}

@mixin small-pc {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin laptop  {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin screen ($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}