/*
*
* --- file _settings.scss
*   project settings
*
*
*/
$main_block_width: 100%;
$background_blue_setting: url(../img/background_blue.png);
$background_white_setting: url(../img/background_white.png);
$nilland_black: Nilland-Black;
$nilland_extra_bold: Nilland-ExtraBold;

// basic size for text
$size-text: 14px;

$width-page: 940px;