


.slider_activities {
  @include size(550px 340px);
  float: right;
  position: relative;
  .slider_left_drawing {
    float: left;
    margin-left: 35px;
    margin-top: 158px;
    @include size(25px 25px);
  }
  .slider_right_drawing {
    @include size(25px 25px);
    float: right;
    margin-right: 16px;
    margin-top: 158px;
  }
  p {
    color: #aaaaaa;
    font-size: 12px;
    font-family: $nilland_extra_bold;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 12px;
    margin-left: 5px;
  }
  .slider_drawing {
    @include size(400px 245px);
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    top: 40px;
    left: 75px;
    #drawing {
      margin-left: 30px;
      margin-top: 10px;
    }
  }
  /*
  --------------------------------
  responsive
  --------------------------------
  */
  @include screen (960px) {

  }

}